.mobileMenu {
    background-color: aliceblue;
    height: 378px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 24px 16px;
    padding: 32px;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.menuBtnClose {
    position: fixed;
    top: 24px;
    right: 18px;
}

.menuOpen .mobileMenu {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}


.menuOpen {
    /* background-color: blueviolet; */
    max-height: 100vh;
    overflow-y: hidden;
}

.menuLinks {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuLink {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}


/* media styles ... */


@media (max-width: 1280px) {
    h1 {
        font-size: 36px;
        color: #1a202c;
        line-height: 1.25;
    }

    .headerParagraph {
        font-size: 16px;
    }

    .headerCustomers {
        padding-right: 64px;
    }

    .headerImageContainer {
        display: flex;
        justify-content: flex-end;
    }

    .headerIMG {
        max-width: 512px;
    }

    .plan__button {
        max-width: none;
    }


}



@media (max-width: 1024px) {
    /* nav {
        background-color: black;
    } */

    .plans {
        flex-direction: column;
        align-items: center;
    }

    .plan {
        margin-right: 0px;
    }

    #testimonials .container {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .navLinks {
        display: none;
    }

    .menuBTN {
        display: block;
    }

    .menuBTN>i {
        font-size: 20px;
    }

    header .row {
        flex-direction: column;
        align-items: center;
    }

    .headerDescription {
        margin: 20px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headerParagraph {
        margin: 20px 0;
    }

    .headerDescription, .headerImageContainer {
        width: 100%;
        max-width: 512px;
        margin: 0 auto;
    }

    h1 {
        font-size: 30px;
    }

    .headerCustomersTitle, .headerImageContainer {
        margin-top: 48px;
    }

    .headerCustomers {
        padding-right: 0px;
    }

    .headerCustomersTitle, .headerImageContainer {
        margin-top: 48px;
    }

    .headerDescription, .headerImageContainer {
        width: 100%;
        max-width: 512px;
        margin: 0 auto;
    }

    .features {
        max-width: 768px;
    }

    .feature {
        width: calc(50%);
    }

    .featureRow {
        padding: 32px 8px;
        margin: 0 16px;
    }

    .feature__title {
        line-height: 1;
    }

    .feature__para {
        max-width: none;
    }

    .sectionTitle {
        font-size: 40px;
    }

    .headerCustomersTitle, .headerImageContainer {
        margin-top: 48px;
    }

    .values__list {
        max-width: 20rem;
        flex-direction: column;
    }

    .start__title {
        text-align: center;
        width: 100%;
        max-width: 512px;
    }

    .start__title {
        text-align: center;
        width: 100%;
        max-width: 512px;
    }

    .start__buttons {
        width: auto;
        margin-top: 24px;
    }

    footer {
        padding: 80px 32px;
    }

}



@media (max-width: 768px) {

    .testimonials__description {
        padding-left: 0;
    }

    .quality__description, .quality__img--wrapper, .steps__description, .steps__img--wrapper, .values__description, .values__img, .testimonials__description, .testimonials__img {
        width: 100%;
        max-width: 448px;
    }

    .quality__description, .steps__description, .values__description, .testimonials__description {
        padding: 0;
        margin-top: 64px;
        text-align: center;
    }

    #steps .row, #testimonials .row {
        flex-direction: column;
    }

    .sectionTitle {
        text-align: center;
    }

    .sectionPara {
        font-size: 14px;
    }

    .features {
        max-width: 768px;
        justify-content: center;
    }

    .feature {
        width: auto;
        max-width: 384px;
    }

    .section__para {
        font-size: 14px;
    }

    #quality .row, #values .row {
        flex-direction: column-reverse;
    }

    .step {
        flex-direction: column;
        align-items: center;
    }

    .step__description {
        margin-top: 12px;
        margin-left: 0;
    }

    .section__para {
        font-size: 15px;
    }

    .values__list {
        margin-left: auto;
        margin-right: auto;
    }

    .value {
        margin-right: 0px;
        align-items: center;
    }

    .value:nth-of-type(1) {
        margin-right: 0px;
    }

    .footer__bottom {
        flex-direction: column;
        align-items: center;
    }
    
    .footer__copyright, .footer__socials {
        margin-top: 32px;
    }


}

@media (max-width: 640px) {

    .footer__columns {
        justify-content: center;
    }

    .footer__column {
        width: auto;
        padding: 0 16px;
        text-align: center;
        align-items: center;
    }
    
    .footer__copyright {
        font-size: 14px;
        text-align: center;
        line-height: 1.5;
    }


    .start__container {
        padding: 80px 0;
    }

    .start__row {
        flex-direction: column;
    }

    .start__title {
        font-size: 24px;
    }

    .start__buttons {
        flex-direction: column;
    }

    .start__button:nth-child(1) {
        margin-right: 0;
    }

    .start__button:nth-child(2) {
        margin-top: 16px;
    }

    .start__button {
        padding: 12px 24px;
        font-size: 14px;
    }

    .plan__bottom {
        padding: 2rem 1rem;
    }

    #features .section__title, #pricing .section__title, .plan__price {
        font-size: 35px;
    }

    .section__title {
        line-height: 1.25;
    }

    .section__title {
        font-size: 27px;
    }

    .steps__list {
        margin-top: 48px;
    }

    .testimonial__bottom {
        flex-direction: column;
        align-items: center;
        padding-top: 4px;
    }

    .testimonial__profile {
        flex-direction: column;
        align-items: center;
    }

    .testimonial__img {
        height: 64px;
        width: 64px;
    }

    .testimonial__details {
        margin-left: 0;
        margin-top: 8px;
    }

    .testimonial__buttons {
        margin-top: 32px;
    }

    .testimonial__para {
        margin-bottom: 32px;
    }

    .section_title {
        font-size: 29px;
    }

    .container {
        padding: 80px 0;
    }

    .headerEmailContainer {
        flex-direction: column;
        height: auto;
    }

    .headerEmailInput {
        position: static;
        padding: 16px 0;
        padding-left: 32px;
        line-height: 1.5;
    }

    .headerEmailBTN {
        position: relative;
        width: 100%;
        padding: 16px 0;
        margin: 16px;
        margin-bottom: 0px;
        line-height: 1.5;
    }

    .headerCustomersTitle {
        font-size: 14px;
        letter-spacing: 0.05em;
    }

    #features .sectionTitle {
        font-size: 36px;
    }

    .featureRow {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .featureTextContainer {
        margin-left: 0px;
        margin-top: 16px;
    }

    .feature__title {
        letter-spacing: 0.025em;
        line-height: 1;
    }

    .feature__para {
        margin-top: 4px;
        line-height: 2;
    }
}