* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
    transition: all 300ms ease;
}

body {
    overflow-x: hidden;
    /* background-color: #001f04; */
}

a {
    text-decoration: none;
}

#landing {
    /* background-color: rgb(177, 255, 255); */
    padding: 0 32px;
    height: 840px;
}

nav {
    /* background-color: #ed0000; */
    padding-top: 32px;
    display: flex;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rowNarrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

/* .navRow {
    background-color: rgb(255, 105, 105);
} */

.navLogoContainer {
    /* background-color: #ffffff; */
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.navLogoIMG {
    width: 40px;
    height: 40px;
}

.navTitle {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.navLinks {
    /* background-color: #ffffff; */
    padding-bottom: 2px;
    display: flex;
    align-items: center;
}

.navLink {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    transition: all 300ms;
    margin: 0 24px;
    position: relative;
}

.navLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms ease;
    border-radius: 100px;
    opacity: 0;
}

.navLink:hover:after {
    opacity: 1;
}

.login {
    margin-left: 48px;
}

.signUp {
    background-color: #6415ff;
    border-radius: 9999px;
    padding: 10px 32px;
    margin: 0;
    margin-top: 2px;
    color: #ffffff !important;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.signUp:hover {
    background-color: #5011cc;
    color: white;
}

.signUp:after {
    content: "";
    width: 0px;
    height: 0px;
}

button {
    cursor: pointer;
}

.menuBTN {
    background-color: transparent;
    border: none;
    display: none;
    transition: all 300ms ease;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.purple {
    color: #6415ff;
}

.headerDescription {
    width: 40%;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.headerParagraph {
    margin: 32px 0;
}

.headerEmailContainer {
    /* background-color: #1a202c; */
    width: 100%;
    max-width: 448px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.headerEmailInput {
    width: 100%;
    height: 100%;
    border-radius: 500px;
    border: 2px solid #e5e7eb;
    padding: 20px 190px 20px 32px;
    color: #243e63;
    font-size: 16px;
    font-weight: 500;
    transition: all 300ms ease;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.headerEmailInput:focus {
    outline: none;
    border-color: #6415ff;
}

.headerEmailBTN {
    z-index: 2;
    position: absolute;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.headerEmailBTN:hover {
    background-color: #3c0d99;
}

.headerCustomersTitle {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6;
}

img {
    width: 100%;
}

.headerCustomers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.headerImageContainer {
    width: calc(100% - 40%);
}

.headerIMG {
    width: 100%;
    max-width: 768px;
}

section {
    padding: 0 32px;
}

#features {
    position: relative;
}

#features .rowNarrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionTag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.sectionTitle {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.sectionPara {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    text-align: center;
    max-width: 576px;
}

.features {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.feature {
    width: calc(100% / 3);
}

.featureRow {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.featureImgContainer {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.featureIMG {
    width: 24px;
    height: 24px;
}

.featureTextContainer {
    margin-top: 8px;
    margin-left: 16px;
}